/* font */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-size: 20px;
    background-color: #0e0f10;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 1172px;
    margin: 0 auto;
}

span{
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

span:hover {
    color: #00FFFF;
    text-shadow: 1px 1px 10px #00FFFF;
}


/* Header */

header{
    padding-top: 90px;
    padding-bottom: 45px;
    background-image: url(/img/Fone.jpg);
    background-size: cover;
    background-position: center;
}

.MainWordDiv{
    display: flex;
    justify-content: center;
}

.MainWord {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 130px;
    transition: all 400ms cubic-bezier(0.2, 0, 0, 0.8);
    text-shadow: 2px 1px 10px white;
}

.MainWord:hover {
    color: #00FFFF;
    text-shadow: 3px 5px 15px #00FFFF;
}

.Wrapper{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.TextOfer{
    background-color: #0e0f10;
    width: 500px;
    height: 305px;
    box-shadow: 0px 0px 50px 3px white;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.TextOfer:hover, .logo:hover{
    box-shadow: 0 0 50px 2px #00FFFF;
}

.TextInTextOfer{
    padding:20px;
    font-size: 40px;
}

.logo{
    box-shadow: 0px 0px 50px 3px white;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}


/* Main */

ul{
    list-style: none;
    width: 200px;
}

.ul{
    display: flex;
}

.ul-li{
    padding-left: 15px;
}

.Indent{
    padding: 20px 0;
}


section{
    margin: 45px 0;
}

.link{
    color: #0d6efd;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.li300{
    width: 300px;
}

/* button */

.btn-hover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px 0;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 70px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.button-link{
    color: white;
    text-decoration: none;
}


/* nav */

nav{
    margin: 45px 0;
}

.section{
    background-color: #1c1c1c;
    padding-left: 15px;
    padding-bottom: 15px;
}



/* footer */

footer{
    background-image: url(/img/FoneFooter.jpg);
    background-size: cover;
    background-position: center; 
}

.huh{
    padding-top: 75px;
    padding-bottom: 25px;
}

.huh2 {
    background: linear-gradient(#1c1c1c, #0e0f10);
    box-shadow: 0px 0px 50px 1px white;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
    padding-bottom: 15px;
    padding-left: 12px;
}


.huh2:hover {
    box-shadow: 0 0 50px 1px #00FFFF;
}

.soc {
    display: flex;
    padding-bottom: 30px;
}


.cos {
    margin-bottom: 30px;
}



/*адаптер на другие устройства
1200px-993px*/
@media screen and (max-width: 1200px){
    .container{
        width: 960px;
    }
}

/*адаптер на другие устройства
992px-769px*/
@media screen and (max-width: 992px){
    .container{
        width: 720px;
    }
    .TextOfer{
        width: 400px;
    }
    .TextInTextOfer{
        padding:15px;
        font-size: 35px;
    }
}
/*адаптер на другие устройства
768px-577px*/
@media screen and (max-width: 768px){
    .container{
        width: 540px;
    }
    .Wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .TextOfer{
        width: 350px;
    }
    .TextInTextOfer{
        padding:15px;
        font-size: 30px;
    }
    .logo{
        margin-top: 90px;
        width: 300px;
    }
    .MainWord{
        font-size: 120px;
    }
}
/*адаптер на другие устройства
576px-320px*/
@media screen and (max-width: 576px){
    .container{
        width: 90%;
    }
    body{
        font-size: 16px;
    }
    .logo{
        width: 250px;
    }
    .TextInTextOfer{
        padding:20px;
        font-size: 25px;
    }
    .TextOfer{
        width: 80%;
        height: 250px;
    }
    .MainWord{
        font-size: 90px;
    }
}

@media screen and (max-width: 320px){
    body{
        font-size: 14px;
    }
    .logo{
        width: 250px;
    }
    .TextInTextOfer{
        padding:15px;
        font-size: 20px;
    }
    .TextOfer{
        width: 80%;
        height: 70%;
    }
    .MainWord{
        font-size: 70px;
    }
    .btn-hover{
        width:150px;
    }
}

