/* imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    color: white;
    font-size: 20px;
    background-color: #0e0f10;
    font-family: 'Ubuntu', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}



.mainWord {
    font-family: 'Spline Sans Mono', monospace;
    display: flex;
    font-size: 120px;
    transition: all 400ms cubic-bezier(0.2, 0, 0, 0.8);
    text-shadow: 2px 1px 10px white;
}

.mainWord:hover {
    color: #00FFFF;
    text-shadow: 3px 5px 15px #00FFFF;
}


/* hover */

.za {
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.za:hover {
    color: #00FFFF;
    text-shadow: 1px 1px 10px #00FFFF;
}


/* container */

.container {
    width: 1172px;
    margin: 0 auto;
}


/* Head name  */

.Head {
    padding-top: 90px;
    display: flex;
    justify-content: center;
}

/* wrapper */

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    padding-bottom: 75px;
}


/* ofer */

.ofer {
    height: 300px;
    width: 500px;
    background: linear-gradient(#0e0f10, #1c1c1c);
    box-shadow: 0px 0px 50px 1px white;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.ofer:hover {
    box-shadow: 0 0 50px 1px #00FFFF;
}

.TextOfer {
    font-family: 'Spline Sans Mono', monospace;
    padding: 15px 20px;
    width: 400px;
    font-size: 35px;
    text-shadow: 1px 1px 2px white;
}

/* img */

.ImageWrap {
    width: 300px;
    height: 300px;
    box-shadow: 1px 0px 50px 2px white;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.ImageWrap:hover {
    box-shadow: 0 0 50px 2px #00FFFF;
}

/* main */


main {
    margin-top: 30px;
}

.link {
    text-decoration: none;
    color: #0d6efd;
}

.link:hover {
    text-decoration: underline;
}

.wer {
    padding-bottom: 50px;
    display: flex;
}

li {
    width: 200px;
}

.flex {
    display: flex;
}

.details {
    margin-left: 20px;
}

.dede {
    margin-bottom: 30px;
}

.divpo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ul {
    margin-left: 15px;
}

.fig {
    margin-bottom: 40px;
}

.dc {
    max-width: 800px;
}

/* nav */

ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.yh {
    background-color: #1c1c1c;
    padding-bottom: 15px;
    padding-left: 12px;
    margin-top: 30px;
}

.h {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* buttons */



.btn-hover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 70px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}


/* autor */



.asik div {
    margin: 0;
    padding: 0;
}


/* footer */

.huh {
    padding-top: 75px;
    padding-bottom: 25px;
}

.huh2 {
    background: linear-gradient(#1c1c1c, #0e0f10);
    box-shadow: 0px 0px 50px 1px white;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
    padding-bottom: 15px;
    padding-left: 12px;
}


.huh2:hover {
    box-shadow: 0 0 50px 1px #00FFFF;
}


.soc {
    display: flex;
    padding-bottom: 30px;
}


.cos {
    margin-bottom: 30px;
}

.co {
    margin-bottom: 15px;
}

.il {
    width: 270px;
}


/* Boostrap */


@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .mainWord {
        font-size: 100px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
        font-size: 18px;
    }

    .ofer {
        height: 300px;
        max-width: 350px;
    }

    .TextOfer {
        width: 300px;
        font-size: 30px;
    }

    .HeadName1 {
        font-size: 10vw;
    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .mainWord {
        font-size: 90px;
    }

    .wrapper {
        flex-direction: column;
    }

    .ofer {
        height: 220px;
        max-width: 480px;
    }

    .TextOfer {
        width: auto;
        font-size: 30px;
    }

    .ImageWrap {
        margin-top: 75px;
    }

    .btn-hover {
        width: 175px;
        font-size: 18px;
    }
}


@media screen and (max-width: 576px) {
    .container {
        width: 90%;
        font-size: 16px;
    }

    .ofer {
        height: 175px;
        width: 80%;
    }

    .TextOfer {
        font-size: 20px;
    }

    .hi1 {
        width: 200px;
    }

    .hi3 {
        width: 300px;
    }

    h2 {
        font-size: 18px;
    }

    .HeadName1 {
        font-size: 14vw;
    }

    li {
        width: 130px;
    }

    .btn-hover {
        width: 150px;
        font-size: 16px;
    }

    .ImageWrap {
        width: 250px;
        height: 250px;
    }
}


@media screen and (max-width: 320px) {
    .container {
        width: 90%;
        font-size: 12px;
    }

    .TextOfer {
        font-size: auto;
    }

    .mainWord {
        font-size: 20vw;
    }
}